{% autoescape off %}
Dear {{ user.first_name }},

We received a request to recover the password for your account at Teddy Ecom. We understand how frustrating it can be 
to forget your password, and we are here to help you regain access to your account.

To reset your password, please click on the following link: http://{{domain}}{%url 'users:reset-password-validate' uidb64=uid token=token%}. 
You will be prompted to enter your email address and create a new password.

For security reasons, we recommend that you choose a strong password, containing a mix of 
uppercase and lowercase letters, numbers, and special characters.

If you did not request a password reset, please contact us immediately by replying to this email or by 
calling our customer support team at [Insert customer support phone number]. We take the security of our customers' 
accounts very seriously and will investigate any suspicious activity.

Thank you for choosing Teddy Ecom. If you have any further questions or concerns, please do not hesitate to reach out to us.

Best regards,

Teddy Ecom Customer Support Team

{% endautoescape %}