{% extends 'base.html' %}{% block title %}Reset Password{% endblock title %} 
{% block content %} {% load static %}{% load humanize %} 

<section class="section-conten padding-y" style="min-height: 84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
      {% include 'shared/messages.html' %}
      <div class="card-body">
        <h4 class="card-title mb-4">Reset Password</h4>
        <p>Create your new password</p>
        <form action="{% url 'users:reset-password-page' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name='password'
              placeholder="Enter new password..."
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name='confirm_password'
              placeholder="Confirm Password..."
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create New Password</button>
          </div>
        </form>
      </div>
    </div>
    <br /><br />
  </section>



{% endblock content %}
